:root {
    --text-color: rgba(255, 255, 245, 0.86);
    --paragraph: rgba(235, 235, 245, 0.6);
}

.cards-container {
    margin: 0rem 23rem 0 23rem;
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
    flex-wrap: wrap;
    /* Satırların kaydırılmasına izin verir */
}

.card {
    display: flex;
    /* Flexbox düzeni */
    flex-direction: column;
    /* Çocukları dikey olarak hizala */
    justify-content: left;
    /* Merkezde hizala */
    align-items: left;
    /* Merkezde hizala */
    width: 24rem;
    height: 13rem;
    background-color: rgb(32, 33, 39);
    border-radius: 12px;
    margin-bottom: 2rem;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem 1rem 1rem;
    font-size: 24px;
    font-weight: 400;
    width: 3rem;
    height: 3rem;
    background-color: rgb(43, 47, 54);
    border-radius: 1rem;

}

.card-text h4 {
    margin: 0rem 1rem;
}

.card-text p {
    color: var(--paragraph);
    margin: 1rem 1rem;
}
