.modal-btn{
    width: 400px;
    height: 50px;
    font-size: 17px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
}

.modal-title{
    display: flex;
    align-items: center;
    justify-content: center;
}