.features-container {
    flex-direction: column; /* Change to column layout */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}

.features-text {
    text-transform: uppercase;
    font-size: 48px;
}

.features-cards {
    display: flex;
    flex-wrap: wrap; /* Ensure cards wrap to the next line if necessary */
    justify-content: center; /* Align cards horizontally */
}
