*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text-color);
}

:root{
    --background-color: #EEEEEE;
    --navbar-back-color: #0E46A3;
    --text-color: #eee;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color);
}